<slider></slider>


<!-- creating the html layout for displaying the products -->
<div class="container mt-4 mb-4 pt-4 shadow-lg rounded">
  <h2 class="text-center text-light textShadow">The best products for your pet</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4 pt-4 pb-4 shadow-sm">
    <div class="col" *ngFor="let product of products ; index as productId">
      <div class="card">
        <img src="{{product.img}}" class="card-img-top" alt="...">
        <div class="card-body">
          <a routerLink="product-details/{{productId}}">
            <h5 class="card-title">{{product.productName}}</h5>
          </a>
          <p class="card-text">Animal type: {{product.animalSpecies}}</p>
          <p class="card-text">Product type: {{product.productType}}</p>
          <p class="card-text" *ngIf="product.weight">Weight: {{product.weight}} g.</p> <!-- add an if statement => if weight empty, do not display -->
          <p class="card-text">Price {{product.price | currency}}</p>
          <button type="button" class="btn btn-outline-success" (click)="addProductsToCart(product)">Add to cart</button>
        </div>
      </div>
    </div>
  </div>
</div>