.myImg {
  height: 400px;  /*  or 100% of container */
  width: 100%;  /* or 100% of container */
  object-fit: cover; /* none can be an option too as cover may deform it*/
  object-position: 50% 50%;
/* if both 50% will center it*/
}

.carousel-caption {
  max-width: 100%;
  width:100%;
  height: 100px;
  background-color: #ffb81c;
  left: 0;
}

.bgOpacity {
  background-color: rgba(255, 184, 28, 0.8);
}